<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <%= link_to "New sunshine hour", new_sunshine_hour_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <h1 class="font-bold text-4xl">Sunshine hours</h1>
  </div>
  <%= render partial: "country_select", object: @countries %>

  <div id="sunshine_hours" class="min-w-full border-red-900 border-2 border-solid">
    <%= render partial: "sunshine_hour_link", collection: @sunshine_hours %>
  </div>
</div>
